.coolLink {
	position: relative;
	display: grid;
	place-items: center;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform: scale3d(0, 1, 1);
        transform-origin: right;
		transition: transform 0.4s cubic-bezier(0.5, 0.5, 0.3, 1);
	}
	&:after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		height: 100%;
		transform: translate3d(150%, 0, 0);
        transition: transform 0.4s ubic-bezier(0.5, 0.5, 0.3, 1);
	}
    & span {
        transition: transform 0.4 ubic-bezier(0.5, 0.5, 0.3, 1);
    }
	&:hover:before {
		transform: scale3d(1, 1, 1);
		transform-origin: left;
	}
    &:hover:after {
        transform: translate3d(0,0,0);
    }
    &:hover span {
        transform: translate3d(-150,0,0);
    }
}
